absl-py==0.13.0
aiocron==1.8
aiodns==3.0.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiosignal==1.3.1
alabaster==0.7.12
alembic==1.4.3
antlr4-python3-runtime==4.8
appdirs==1.4.4
arabic-reshaper==2.1.3
asgiref==3.6.0
asn1crypto==1.5.1
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==22.1.0
Automat==22.10.0
Babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
borb==2.1.10
boto3==1.18.15
botocore==1.21.15
bs4==0.0.1
cachetools==4.2.2
capstone==4.0.2
cchardet==2.1.7
certifi==2022.6.15
cffi==1.14.6
chardet==5.0.0
charlesbot==0.10.1
charset-normalizer==2.0.6
click==8.0.1
cloudscraper==1.2.64
colorama==0.4.5
colored-traceback==0.3.0
coloredlogs==15.0.1
config==0.5.1
constantly==15.1.0
croniter==1.3.8
crypto==1.4.1
cryptography==39.0.2
cssselect==1.1.0
cssselect2==0.7.0
cycler==0.11.0
Cython==0.29.34
datasets==1.11.0
decorator==4.4.2
defusedxml==0.7.1
demiurge==0.2
deprecation==2.1.0
dill==0.3.4
Django==4.2
docformatter==1.4
docutils==0.15.2
dukpy==0.3.0
EbookLib==0.18
EduData==0.0.18
emoji==1.4.2
et-xmlfile==1.1.0
ExifRead==3.0.0
fairscale==0.4.0
fake-useragent==0.1.11
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.0.12
fire==0.5.0
flake8==3.9.2
flake8-bugbear==21.9.1
Flask==2.0.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fonttools==4.37.1
fpdf==1.7.2
frozenlist==1.3.3
fsspec==2021.8.1
future==0.18.2
future-annotations==1.0.0
game==0.0.5
gcd==0.1.0
gitdb==4.0.7
gitdb2==4.0.2
GitPython==3.1.18
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
grab==0.6.41
grpcio==1.40.0
h5py==3.6.0
hatvenom==2.0.0
headersformat==0.1.0
html5lib==1.1
httplib2==0.21.0
huggingface-hub==0.0.16
humanfriendly==9.2
hydra-core==1.0.7
hyperlink==21.0.0
icalendar==5.0.5
idna==3.3
imagesize==1.2.0
importlib-metadata==4.8.1
incremental==22.10.0
iniconfig==1.1.1
intervaltree==3.1.0
iopath==0.1.9
ipython==7.27.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.0.1
javascripthon==0.12
jedi==0.18.0
jieba3k==0.35.1
Jinja2==3.1.2
jiphy==1.2.2
jmespath==0.10.0
joblib==1.0.1
jsonlines==2.0.0
jsonpickle==3.0.1
keystone-engine==0.9.2
kiwisolver==1.4.4
longling==1.3.36
lxml==4.9.1
maigret==0.4.4
Mako==1.1.3
Markdown==3.3.3
markdown-it-py==0.5.8
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.3
mccabe==0.6.1
MechanicalSoup==1.2.0
mechanize==0.4.8
mock==4.0.3
multidict==6.0.2
multiprocess==0.70.12.2
mysql-connector-python==8.0.33
myst-parser==0.12.10
Naked==0.1.31
nest-asyncio==1.5.6
networkx==2.5.1
newspaper-zw==1.1.0
newspaper3k==0.2.8
nltk==3.6.2
numpy==1.20.3
oauthlib==3.1.1
omegaconf==2.0.6
openpyxl==3.0.7
oscrypto==1.3.0
packaging==21.0
pandas==1.2.4
pandoc==2.3
pandoc-fignos==2.4.0
pandoc-xnos==2.5.0
pandocfilters==1.5.0
paramiko==2.7.2
parlai==1.5.0
parse==1.19.0
parsel==1.6.0
parso==0.8.2
pdf2image==1.16.3
pdfkit==1.0.0
pdfminer==20191125
pdfminer.six-i==20190823
pdfplumber-i==0.6.6
pdfrw==0.4
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==7.1.1
Pillow==9.4.0
pluggy==0.13.1
plumbum==1.7.0
ply==3.11
portalocker==2.3.2
prettytable==3.7.0
prompt-toolkit==3.0.20
Protego==0.2.1
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
pwn==1.0
pwntools==4.6.0
py==1.10.0
py-gfm==1.0.2
py-rouge==1.1
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.3.0
pycodestyle==2.7.0
pycountry==22.3.5
pycparser==2.20
pycryptodome==3.10.1
pydash==6.0.2
pyDHE==1.0.0
PyDispatcher==2.0.7
pyecharts==1.9.1
pyecharts-javascripthon==0.0.6
pyee==8.2.2
pyelftools==0.27
PyExecJS==1.5.1
pyflakes==2.3.1
pygame==2.3.0
Pygments==2.10.0
pyHanko==0.17.2
pyhanko-certvalidator==0.20.1
PyJWT==2.1.0
pymupdf-fonts==1.0.5
PyNaCl==1.4.0
pyOpenSSL==23.0.0
pyparsing==2.4.7
pypdf==3.5.2
PyPDF2==2.10.4
PyPDF3==1.0.6
PyPDF4==1.27.0
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
pyppeteer==0.2.6
pyquery==1.4.3
pyreadline==2.1
pyserial==3.5
PySocks==1.7.1
pytest==6.2.4
pytest-datadir==1.3.1
pytest-regressions==2.2.0
pytest-simplehttpserver==0.1.2
python-barcode==0.14.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-editor==1.0.4
python-socks==2.2.0
pythonping==1.1.3
pytils==0.4.1
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pyvis==0.2.1
pywin32==301
PyYAML==5.4.1
pyzmq==22.2.1
qrcode==7.4.2
queuelib==1.6.2
rarfile==4.0
redis==3.5.3
redis-py-cluster==2.1.3
regex==2021.8.28
reportlab==3.6.11
requests==2.28.1
requests-file==1.5.1
requests-futures==1.0.0
requests-html==0.10.0
requests-mock==1.9.3
requests-oauthlib==1.3.0
requests-toolbelt==0.10.1
ROPGadget==6.6
rpyc==5.0.1
rq==1.8.1
rsa==4.7.2
s3transfer==0.5.0
schedule==1.2.0
scikit-learn==0.24.2
scipy==1.7.1
Scrapy==2.8.0
secret==0.8
selection==0.0.21
selectolax==0.3.12
selenium==3.141.0
service-identity==21.1.0
sgmllib3k==1.0.0
sh==1.14.2
shellescape==3.8.1
shortuuid==1.0.1
simplejson==3.18.4
six==1.16.0
slackclient==0.16
smmap==4.0.0
snapshot-pyppeteer==0.0.2
snowballstemmer==2.1.0
socid-extractor==0.0.23
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==2.2.2
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.3.20
sqlparse==0.4.4
stem==1.8.0
subword-nmt==0.3.7
svglib==1.5.1
tabulate==0.8.9
tencentcloud-sdk-python-goosefs==3.0.852
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
termcolor==2.3.0
threadpoolctl==2.2.0
tinycss2==1.2.1
tinysegmenter==0.3
tldextract==3.4.0
tokenize-rt==5.0.0
tokenizers==0.10.3
toml==0.10.2
torch==1.9.0
torchtext==0.10.0
tornado==6.1
tornado-request-mapping==0.0.6
torrequest==0.1.0
tqdm==4.64.1
traitlets==5.1.0
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typing_extensions==4.3.0
tzdata==2022.7
tzlocal==4.2
unicodecsv==0.14.1
unicorn==1.0.2rc3
Unidecode==1.3.1
untokenize==0.1.1
uritools==4.0.1
urllib3==1.26.6
user-agent==0.1.10
w3lib==1.22.0
Wand==0.6.11
wcwidth==0.2.5
webencodings==0.5.1
weblib==0.1.30
websocket-client==1.2.1
websocket-server==0.5.1
websockets==9.1
Werkzeug==2.0.1
WTForms==2.3.3
xhtml2pdf==0.2.8
XMind==1.2.0
xxhash==2.0.2
yarl==1.7.2
you-get==0.4.1545
youtube-dl==2021.6.6
zipp==3.5.0
zope.interface==5.5.2
